<container>
  <container>
    <row class="footer">
      <columns class="footer-links">
        <center>
          <a href="#">Shop Online</a>

          <a href="#">Find a Store</a>

          <a href="#">1-800-MY-APPLE</a>

          <a href="#">Get the Apple Store App</a>
        </center>
      </columns>
    </row>
    <row class="copyright">
      <columns>
        <center>
          <p>
            &#8482; and copyright &#169; 2020 Apple Inc. 1 Infinite Loop, MS
            96-DM, Cupertino, CA 95014
          </p>
        </center>
      </columns>
    </row>
    <row>
      <columns class="footer-links-two">
        <center>
          <a href="#">All Rights Reserved</a>
          <a href="#">Privacy Policy</a>
          <a href="#">My Apple ID</a>
        </center>
      </columns>
    </row>
    <row class="unsub">
      <columns>
        <p>
          If you prefer not to receive commercial email from Apple, or if you've
          changed your email address, please
          <span><a href="#">click here</a></span>
        </p>
      </columns>
    </row>
  </container>
</container>
